*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
  background: linear-gradient(rgb(202, 89, 98),rgb(5, 65, 73),rgb(122, 110, 112),rgba(229, 255, 0, 0.377));
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  user-select: none;
  cursor:progress;
}
h2
{
    color: #d9ff00;
    margin-bottom: 50px;
    font-size: 40px;
    padding: 10px;
    box-shadow: 10px 10px 10px 1px black;
}
.clock
{
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    background: black;
    color:wheat;
    border:10px groove  rgb(238, 255, 0);
}
